.row
  .columns.large-12
    %ul.breadcrumbs
      %li= link_to "Courses", courses_path
      - @course.ancestors.reverse.each do |course|
        %li= link_to course, course

.row
  .columns.large-12

    = title "Grades"

    %table#grades
      -# %thead
      -#   %th
      -#   %th.rotate{ colspan: 3 }
      -#     %div
      -#       %span Fail
      -#   %th.rotate
      -#     %div
      -#       %span Incomplete
      -#   %th.rotate{ colspan: 2 }
      -#     %div
      -#       %span Low Pass
      -#   %th.rotate{ colspan: 2 }
      -#     %div
      -#       %span Pass
      -#   %th.rotate{ colspan: 2 }
      -#     %div
      -#       %span High Pass

      %tbody
        - @course.students.each do |student|
          %tr
            %td{colspan: 100}
              = simple_form_for [@course,Grade.for(student,@course)], remote: true do |f|
                = content_tag_for :table, student do
                  %tr
                    %th{rowspan: 2, width: 200}
                      = link_to student, student, data: { reveal_id: "modal", reveal_ajax: "true" }
                      .grade

                    = f.input :value, as: :string
                    -# - Grade::GRADES.each_with_index do |type, i|
                    -#   %td
                    -#     = label_tag do
                    -#       = (i+1)
                    -#       = f.radio_button :value, (i+1), class: 'grade-radio', id: "value-#{student.id}-#{i+1}", data: { grade: type }
                    -#       -# = radio_button_tag "student-#{student.id}-value", i, nil, class: 'grade-radio'
                    %tr
                      %td{colspan: 100, style: 'background: none !important'}= f.input_field :notes, placeholder: 'Notes...', id: "notes-#{student.id}"
                      = f.association :student, as: :hidden
                      = f.submit

    = link_to "Submit for Review", submit_for_review_course_grades_path(@course), method: :post, data: { confirm: "Are you sure you want to do this?"}

- unless Rails.env.test?
  :javascript
    TogetherJSConfig_autoStart = true
    TogetherJSConfig_siteName = 'IAAC'
    TogetherJSConfig_toolName = 'Collaboration'
    TogetherJSConfig_getUserName = function() { return "#{current_user}"; }
    TogetherJSConfig_dontShowClicks = true
    TogetherJSConfig_cloneClicks = "table#grades input"
  = javascript_include_tag "https://togetherjs.com/togetherjs-min.js"
