- title "Log in"

:css
  #forgot {
  margin-left: 20px;
  }

= form_tag sessions_path do

  .field
    = label_tag :email
    = text_field_tag :email, params[:email], autofocus: params[:email].blank?
  .field
    = label_tag :password
    = password_field_tag :password
    = hidden_field_tag :goto, params[:goto]

  .actions
    = submit_tag "Log In", class: 'button small'
    = link_to "Forgot Details?", "#", id: 'forgot'



- if Rails.env.development?

  %hr/

  .row
    .columns.small-4
      = form_tag sessions_path do
        = hidden_field_tag :email, "shannon@mcdermott.biz"
        = hidden_field_tag :password, "password"
        = hidden_field_tag :goto, params[:goto]
        = submit_tag "login as student"
    .columns.small-4
      = form_tag sessions_path do
        = hidden_field_tag :email, "rodrigo.aguirre@gmail.com"
        = hidden_field_tag :password, "password"
        = hidden_field_tag :goto, params[:goto]
        = submit_tag "login as tutor"
    .columns.small-4
      = form_tag sessions_path do
        = hidden_field_tag :email, "ana@bitsushi.com"
        = hidden_field_tag :password, "password"
        = hidden_field_tag :goto, params[:goto]
        = submit_tag "login as admin"
