= content_tag_for :div, user, class: 'col-sm-4 col-md-3' do
  = link_to user do
    .thumbnail
      = placeholder 150
    .caption
      %h4= user
      = user.country
      - unless user.has_role? :admin
        %ul
          - user.courses.each do |course|
            %li= course