.row
  .columns.large-12
    = title "People"
.row
  .columns.large-3
    %ul.side-nav.list-group
      %li.list-group-item= link_to 'Tutors', '#tutors'
      %li.list-group-item= link_to 'Students', '#students'

  .columns.large-9
    -# .row
    -#   .col-md-12
    -#     %h4 Administrators
    -#     = render User.with_role(:admin)
    .row
      .columns.large-12
        %h4#tutors Tutors
        %ul.large-block-grid-5= render User.with_role(:tutor, :any).order('last_name').uniq
    .row
      .columns.large-12
        %h4#students Students
        %ul.large-block-grid-5= render User.with_role(:student, :any).order('last_name').uniq
