.row
  .columns.large-12
    = title "Sign Up"

    = form_for @user do |f|
      - if @user.errors.any?
        .error_messages
          %h2 Form is invalid
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message
      .field
        = f.label :first_name
        = f.text_field :first_name, autofocus: params[:first_name].blank?
      .field
        = f.label :last_name
        = f.text_field :last_name
      .field
        = f.label :public_email
        = f.text_field :public_email
      .field
        = f.label :password
        = f.password_field :password
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      .actions= f.submit "Sign Up"
