= title @user
= mail_to @user.public_email, @user.public_email
= @user.country

%br/

= placeholder 200


- if current_user and current_user.has_role? :admin
  %table
    - (User.column_names - ['password_digest']).each do |column|
      %tr
        %th= column
        %td= @user[column]
