.row
  .columns.large-12
    = title @user
    - if current_user.has_role? :admin
      = link_to "admin page", admin_user_path(@user), class: 'button tiny'
    %p
      = mail_to @user.public_email, @user.public_email
      \/
      = @user.country

.row
  .columns.large-3.small-5{style: 'margin-bottom: 10px'}= image_tag @user.avatar, class: 'user-avatar'
  .columns.large-9.small-7= simple_format @user.description
