.row
  .columns.large-12

    = title "Add Course"

    = simple_form_for @course do |f|
      %fieldset
        %legend Course Details
        = f.input :gradeable
        = f.input :name
        = f.input :description
      = f.submit