:css
  .grade {
    margin-bottom: 20px;
  }
  .my-grade {
    font-size: 5em;
    font-weight: bold;
  }
  .big-grade {
    font-size: 3em;
    font-weight: bold;
    display: inline;
  }
  .small-grade {

  }

<script>
window.urls = [];
- @modules.each do |m|
  window.urls['#{m.name}'] = '#{course_path(m)}';
window.data = #{raw @modules.map{|c| {value: c.credits, color: (@course.highlight?(c.id) ? '#FEF200' : '#ddd'), highlight: (@course == c ? '#FEF200' : '#f5f5f5'), label: c.name }}.to_json.html_safe}
</script>

.row
  .columns.large-12
    %ul.breadcrumbs
      %li= link_to "Courses", courses_path
      - @course.ancestors.each do |course|
        %li= link_to course, course
    - title @course
    %h1
      = @course
      %span.subtitle= @course.subtitle

.row
  .columns.large-12
    - if policy(@course).update?
      = link_to "edit course", edit_course_path(@course), class: 'button tiny'
      - if current_user.has_role? :admin
        = link_to "admin page", admin_course_path(@course), class: 'button tiny'
      - if @course.is_childless? and @course.students.any?
        = link_to "grades", course_grades_path(@course), class: 'button tiny'

.row
  .columns.large-8
    .description{style: 'color: #888;'}
      - if @grade
        .panel.grade{style: 'border: none; color: #FFF;', class: Grade::GRADES[@grade.value-1]}
          .row
            .columns.small-3
              %span.big-grade= @grade.value
              %span.small-grade /10
            .columns.small-9
              %h2= Grade::GRADES[@grade.value-1].upcase
              = simple_format @grade.notes

      = simple_format Faker::Lorem.paragraphs(3).join("\n\n")
    .row
      .columns.large-12
        %h4 Students
        - if @course.students.empty?
          .panel No students have been assigned to this module yet
        - else
          %ul.small-block-grid-2.large-block-grid-5.medium-block-grid-3= render @course.students

  .columns.large-4.side
    - if @modules.any?
      %h4 Course Modules
      %canvas#chart{height: 180}
      = arranged_tree_as_list(@modules.arrange) do |course|
        = link_to_unless_current course, course

    - if @course.tutors.any?
      %h4 About the Tutors
      - @course.tutors.each do |tutor|
        .row{style: 'margin-top: 20px'}
          .columns.large-12
            .media
              .media-left= placeholder 70
              .media-body
                .user-name= tutor
                .tutor-description
                  .email= mail_to tutor.public_email, tutor.public_email
                  = Faker::Lorem.paragraph
