= title @course

- @course.children.each do |course|
  = content_tag_for :div, course do
    = link_to course, course

= simple_format @course.description

%h3 Tutors
= render @course.tutors

%h3 Students
= render @course.students
