= title @course

- @course.children.each do |course|
  = content_tag_for :div, course do
    = link_to course, course

= simple_format @course.description

- if policy(@course).update?
  = link_to "edit course", edit_course_path(@course)

%h3 Tutors
= render @course.tutors

%h3 Students
= render @course.students
