.row
  .columns.large-12
    = title "Edit #{@user}"

    = simple_form_for [:admin,@user] do |f|
      %fieldset
        = f.input :first_name
        = f.input :last_name
        = f.input :public_email
        = f.input :private_email
      = f.submit class: 'button'
