.row
  .columns.large-12
    = title "Edit #{@user}"

    = simple_form_for [:admin,@user] do |f|
      %fieldset
        %legend User Details
        = f.input :first_name
        = f.input :last_name
        = f.input :title
        = f.input :public_email
        = f.input :private_email
        = f.input :country_code, label: 'Country'
        = f.input :description

      %fieldset
        %legend Photo
        = image_tag @user.photo, id: 'photo-preview', style: 'max-height: 100px'
        = f.input_field :photo, type: 'filepicker', data: { fp_apikey: 'AKgBepWaKTqCgyJQbKgyaz' }, onchange: "document.getElementById('photo-preview').src = event.fpfile.url"

      = f.submit class: 'button'
