= title "People"

= link_to "Students", "#"
= link_to "Tutors", "#"
= link_to "Admins", "#"

%table
  %thead
    %tr
      %th{colspan: 2} First / Last Name
      %th Email
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.first_name, admin_user_path(user)
        %td= link_to user.last_name, admin_user_path(user)
        %td= mail_to user.public_email, user.public_email