.row
  .columns.large-12
    = title "Edit Course"

    = simple_form_for [:admin,@course] do |f|

      %fieldset
        %legend Course Details
        = f.input :name
        = f.input :description

      - unless @course.has_children?
        %fieldset
          %legend Students
          -# %table
          -#   - @course.students.each do |s|
          -#     %tr
          -#       %td= s
          = f.select :student_ids, User.all.map{|s| [s, s.id] }, {selected: @course.students.map(&:id) }, multiple: true, id: 'student-ids'

        %fieldset
          %legend Tutors
          = f.select :tutor_ids, User.all.map{|s| [s, s.id] }, {selected: @course.tutors.map(&:id) }, multiple: true, id: 'tutor-ids'
        -#   = f.select :tutor_ids, User.all.map{|s| [s, s.id] }, {selected: @course.tutors.ids }, multiple: true

      = f.submit class: 'button'
