.row
  .columns.large-12
    %ul.breadcrumbs
      %li= link_to "Courses", admin_courses_path
      - @course.ancestors.each do |course|
        %li= link_to course, [:admin,course]
    - title @course
    %h1
      = @course
      %span.subtitle= @course.subtitle

.row
  .columns.large-12

    = link_to "preview", course_path(@course), class: 'button small'
    = link_to "edit", edit_admin_course_path(@course), class: 'button small'
    = button_to "delete", [:admin, @course], method: :delete, data: { confirm: "Are you sure?" }, class: 'button alert small'

.row
  .columns.large-8
    %table
      - Course.column_names.each do |column|
        %tr
          %th{style: 'width: 200px'}= column
          %td= @course[column]
  .columns.large-4
    = arranged_tree_as_list(@course.root.subtree.arrange(order: :name)) do |course|
      = link_to_unless_current course, [:admin,course]

.row
  .columns.large-7
    %h4 Tutors
    %table
      %tbody
        %thead
          %tr
            %th Name
            %th Role
            %th Can Grade?
        - @course.tutor_members.each do |tutor|
          %tr
            %td= link_to tutor.user, tutor.user
            %td= tutor.role
            %td= tutor.can_grade? ? "YES" : "NO"

  .columns.large-5
    %h4 Students
    %table
      %thead
        %tr
          %th Name
          %th Grade
      %tbody
        - @course.students.each do |student|
          %tr
            %td= link_to student, student
            %td= Grade.where(student: student, course: @course).first

    -# %ul
    -#   - @course.versions.each do |version|
    -#     %li
    -#       = version.whodunnit
    -#       = version.event
    -#       = version.object
