.row
  .columns.large-12
    = title @course

    = link_to "edit", edit_admin_course_path(@course), class: 'button small'
    = button_to "delete", [:admin, @course], method: :delete, data: { confirm: "Are you sure?" }, class: 'button alert small'


    %table
      - Course.column_names.each do |column|
        %tr
          %th{style: 'width: 200px'}= column
          %td= @course[column]

.row
  .columns.large-6
    %h4 Tutors
    %table
      %tbody
        - @course.tutors.each do |tutor|
          %tr
            %td= link_to tutor, tutor

  .columns.large-6
    %h4 Students
    %table
      %thead
        %tr
          %th Name
          %th Grade
      %tbody
        - @course.students.each do |student|
          %tr
            %td= link_to student, student
            %td= Grade.where(student: student, course: @course).first

    -# %ul
    -#   - @course.versions.each do |version|
    -#     %li
    -#       = version.whodunnit
    -#       = version.event
    -#       = version.object
