!!!
%html
  %head
    %title= [content_for(:title),'IAAC Admin'].reject(&:blank?).join(' | ')
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %body#admin

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert-box #{name.to_s == 'notice' ? 'success' : 'alert'}", "data-alert" => ""}
          = content_tag :div, msg
          %a.close{:href => "#"} &times;

    .contain-to-grid{style: 'background-color: #444'}

      %nav.top-bar{"data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            %h1
              = link_to admin_root_path do
                = image_tag "logo-iaac-white.png", style: 'height:  30px;'
        %section.top-bar-section
          / Left Nav Section
          %ul.right
            %li= link_to "Main Site #{current_user.id}", root_path
          %ul.left
            %li= link_to "Students", admin_users_path
            %li= link_to "Courses", admin_courses_path
            %li= link_to "Groups", admin_groups_path

    = yield

    <script type="text/javascript">(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);</script>
