!!!
%html
  %head
    %title= [content_for(:title),'IAAC Admin'].reject(&:blank?).join(' | ')
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %body#admin

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert-box #{name.to_s == 'notice' ? 'success' : 'alert'}", "data-alert" => ""}
          = content_tag :div, msg
          %a.close{:href => "#"} &times;

    .contain-to-grid{style: 'background-color: #444'}

      %nav.top-bar{"data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            %h1
              = link_to admin_root_path do
                = image_tag "logo-iaac-white.png", style: 'height:  30px;'
        %section.top-bar-section
          / Left Nav Section
          %ul.right
            %li= link_to "Main Site", root_path
          %ul.left
            %li= link_to "Students", admin_users_path
            %li= link_to "Courses", admin_courses_path


    = yield
