<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= [content_for(:title),'IAAC'].reject(&:blank?).join(' | ') %></title>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat:400,700', 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="c-<%= controller_name %> a-<%= action_name %>">

<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation" class="contain-to-grid">
      <ul class="title-area">
        <li class="name">
          <a href="<%= root_path %>" style="line-height: 60px; padding: 0 15px; display: block"><%= image_tag "logo-iaac-white.png", style: 'height:  30px;' %></a>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <%= link_to current_user, current_user %>
            <ul class="dropdown">
              <% if current_user.has_role? :admin %>
                <li><%= link_to "Admin", admin_root_path %></li>
              <% end %>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log Out", logout_path %></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><%= link_to "Courses", courses_path %></li>
          <li><%= link_to "People", users_path %></li>
        </ul>
      </section>
    </nav>

    </div>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag :div, msg %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    <% end %>
    <%# flash.each do |name, msg| %>
    <%#= content_tag :div, msg, class: "alert alert-info" %>
    <%# end %>
    <%= yield %>
  </body>
</html>
