!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= [content_for(:title),'IAAC'].reject(&:blank?).join(' | ')
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat:400,700', 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr", "data-turbolinks-track" => true
    = javascript_include_tag 'application', "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{:class => "c-#{controller_name} a-#{action_name}"}
    .contain-to-grid
      %nav.top-bar{"data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            %a{:href => root_path, :style => "line-height: 60px; padding: 0 15px; display: block"}= image_tag "logo-iaac.png", style: 'height:  30px;'
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          - if current_user
            %ul.right
              %li.has-dropdown
                = link_to current_user, current_user
                %ul.dropdown
                  - if current_user.has_role? :admin
                    %li= link_to "Admin", admin_root_path
                  %li= link_to "Settings", edit_user_path(current_user)
                  %li.divider
                  %li= link_to "Log Out", logout_path
          %ul.left
            %li= link_to "Courses", courses_path
            %li= link_to "People", users_path
            -# %li.has-form
            -#   .row.collapse
            -#     .large-8.small-9.columns
            -#       %input{:placeholder => "Search...", :type => "text"}

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert-box #{name.to_s == 'notice' ? 'success' : 'alert'}", "data-alert" => ""}
          = content_tag :div, msg
          %a.close{:href => "#"} &times;
    = yield
    #modal.reveal-modal.medium{data: {reveal: true}}
    %footer
      .row
        .columns.large-12
          %ul
            %li= link_to "Contact Us", "#"
            %li= link_to "Privacy Policy", "#"
            %li= link_to "Terms of Use", "#"
          .address Institut d'Arquitectura Avançada de Catalunya - Pujades 102 baixos, Poble Nou, 08005 Barcelona - tel. (+34) 93 320 95 20 - fax (+34) 93 300 43 33
