!!!
%html
  %head
    %title IaaC
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body.sessions
    .row
      .columns.large-4.medium-6.small-11.small-centered#container
        = image_tag "logo-iaac.png", style: 'width: 100%; margin-bottom: 30px;'

        - flash.each do |key, value|
          = content_tag :div, value, class: "flash #{key}"
        = yield
